RewriteEngine On
RewriteBase /MiniShop_HoThiBichNhung/

# Giỏ hàng
RewriteRule ^cart/add/?$ index.php?area=client&controller=cart&action=add [L,QSA]
RewriteRule ^cart/update/?$ index.php?area=client&controller=cart&action=update [L,QSA]
RewriteRule ^cart/remove/?$ index.php?area=client&controller=cart&action=remove [L,QSA]
RewriteRule ^cart/checkout/?$ index.php?area=client&controller=cart&action=checkout [L,QSA]
RewriteRule ^cart/vnpay_return/?$ index.php?area=client&controller=cart&action=vnpay_return [L,QSA]
RewriteRule ^cart/?$ index.php?area=client&controller=cart&action=index [L,QSA]

# Tài khoản
RewriteRule ^login/?$ index.php?area=client&controller=user&action=login [L,QSA]
RewriteRule ^logout/?$ index.php?area=client&controller=user&action=logout [L,QSA]

# Tìm kiếm: /search
RewriteRule ^search/?$ index.php?area=client&controller=product&action=search [L,QSA]

RewriteRule ^product/([^/]+)/?$ index.php?area=client&controller=product&action=detail&slug=$1 [L,QSA]

RewriteRule ^category/([^/]+)/?$ index.php?area=client&controller=product&action=category&slug=$1 [L,QSA]

RewriteRule ^brand/([^/]+)/?$ index.php?area=client&controller=product&action=brand&slug=$1 [L,QSA]

# Không rewrite file và thư mục có thật
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Đưa mọi request về Entry Point index.php
RewriteRule ^ index.php [QSA,L]
