RewriteEngine On
RewriteBase /MiniShop_HoThiBichNhung/

# Tìm kiếm: /search
RewriteRule ^search/?$ index.php?area=client&controller=product&action=search [L,QSA]

# Chi tiết sản phẩm: /product/chuot-logitech
# $1 = slug sản phẩm
RewriteRule ^product/([^/]+)/?$ index.php?area=client&controller=product&action=detail&slug=$1 [L,QSA]

# Danh mục: /category/laptop
# $1 = slug danh mục
RewriteRule ^category/([^/]+)/?$ index.php?area=client&controller=product&action=category&slug=$1 [L,QSA]

# Thương hiệu: /brand/asus
# $1 = slug thương hiệu
RewriteRule ^brand/([^/]+)/?$ index.php?area=client&controller=product&action=brand&slug=$1 [L,QSA]

# Không rewrite file và thư mục có thật
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Đưa mọi request về Entry Point index.php
RewriteRule ^ index.php [QSA,L]
